<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd ">
	<context:annotation-config />
	<context:component-scan base-package="fr.treeptik" />
	
<!-- Fichier de conf de sprring
une nouvelle data source avec un pool de connection: 2 propri supplimentaires -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/jsfspring" />
		<property name="user" value="root" />
		<property name="password" value="root" />

		<!-- par defaut pour chaque requete le serveur va creer un objet de connection, la, on a ajouté deux choses pour gerer 
		le pool de connection
			au demmarage il va creer 5 objet de connection, -->
		<!-- si je depasse 5 il me cree encore 5, et si je depasse la 11 emme va 
			creer une erreur, aprés c jboss qui nous creera le pool de connection -->
		<property name="maxPoolSize" value="10" />
		<property name="minPoolSize" value="5" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="fr.treeptik.locationvoiture.model" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
				<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
			</bean>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
		p:entityManagerFactory-ref="entityManagerFactory" />

	<tx:annotation-driven transaction-manager="transactionManager" />


<!-- 	<security:http> -->
<!-- 		tte les url sont securisés et il faut s'iauthentifier pour accéder  -->
<!-- 		<security:intercept-url pattern="/**" access="ROLE_USER" /> -->

<!-- 		<security:form-login login-page="/pages/login.jsp" -->
<!-- 			default-target-url="/begin.do" /> -->

<!-- 		<security:logout logout-success-url="/pages/login.jsp" /> -->
<!-- 	</security:http> -->

<!-- 	<security:authentication-manager> -->
<!-- 		<security:authentication-provider> -->
<!-- 			<security:user-service> -->
<!-- 				<security:user name="admin" password="AQWZSX" -->
<!-- 					authorities="ROLE_USER" /> -->
<!-- 			</security:user-service> -->
<!-- 		</security:authentication-provider> -->

<!-- 		<security:authentication-provider> -->
<!-- 			<security:jdbc-user-service -->
<!-- 				data-source-ref="dataSource" -->
<!-- 				users-by-username-query="Select nom as login, password, 'true' as -->
<!--          enabled From users where nom=?" -->
<!-- 				authorities-by-username-query="Select nom, role from users u join roles r on r.userid=u.id where u.nom=? " /> -->
<!-- 		</security:authentication-provider> -->

<!-- 	</security:authentication-manager> -->

</beans>